<section>
    <div class="row">
        <div class="large-6 medium-6 small-6 columns ht">
            {% block sender %}{% endblock %}
        </div>
        <div class="large-6 medium-6 small-6 columns ht">
            {% block receiver %}{% endblock %}
        </div>
    </div>
</section>
<section>
    <div class="row">
        <div class="large-12 medium-12 columns">
            {% block letterbody %}{% endblock %}
        </div>
    </div>
</section>
